.side-info {
  width: 30%;
  height: 100%;
  max-width: 300px;
  min-width: 200px;
}

#profilePic {
  border-radius: 50%;
}

.userinfo {
  word-wrap: break-word;
  margin: auto;
}

.groups {
  list-style-type: circle;
  font-size: 18px;
  text-align: start;
}

.ms-auto {
  margin-left: auto;
}

.side-info,
.create-group-form {
  z-index: 10;
  position: relative;
}

.create-group-form {
  max-width: 600px;
}

.small-size-label {
  font-size: 16px;
  font-weight: 300;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: var(--secondary);
  background-color: var(--secondary);
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgb(114 103 239 / 25%);
}
