.App {
  text-align: center;
  /* background-color: #282c34; */
  background-color: #262c4a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#tsparticles {
  /* height: 10000px;
  width: 3000px; */
  z-index: 0;
}

.theme-light {
  /* background-color: #5d6779; */
  background-color: #262c4a;
}

.title-page-centre {
  position: absolute;
  width: 65%;
}

.title-page-centre .card {
  max-width: 400px;
  margin: auto;
}

.input-label {
  color: #5d6779;
  font-size: 16px;
  font-weight: 700;
  float: left;
}

.title-page-centre .d-flex > * {
  margin: 0px;
}

#main-title {
  font-size: 60px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
